body {
    font-family: "Teko", serif;
    font-size: larger;
    font-weight: 600;
    background-image: url(zetong-li-CkPACFj8IXY-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.timer {
    text-align: center;
    margin-top: 5%;
}

progress {
    margin: auto;
    display: flex;
    width: 20%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: rgba(245, 245, 220, 0.822);
}

progress::-webkit-progress-value {
    background-color: #ec9442;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.question {
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid;
    border-radius: 8px;
    padding: 8px;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(240, 255, 255, 0.815);
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
}

.answers button {
    font-family: "Teko", serif;
    font-size: large;
    font-weight: 333;
    color: rgb(39, 35, 35);
    border-radius: 5px;
    border-width: 0.2em;
    background-color: rgba(245, 245, 220, 0.822);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.next-button, .replay-button {
    border-radius: 5px;
    font-family: "Teko", serif;
    font-size: medium;
    background-color: rgba(240, 255, 255, 0.929);
}

.score-text {
    display: flex;
    justify-content: center;
    text-align: center;
}